// global styles for <a> and <p> tags
$govuk-global-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-navigation";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

/*--- FUNCTIONS --------------------------------------------------------------*/

// Lighten a color
// @param {Color} $color - color to tint
// @return {Color}
@function tint-25($color) {
  @return mix(#ffffff, $color, 25%);
}
@function tint-50($color) {
  @return mix(#ffffff, $color, 50%);
}
@function tint-75($color) {
  @return mix(#ffffff, $color, 75%);
}
@function tint-max($color) {
  @return mix(#ffffff, $color, 85%);
}

// Darken a color
// @param {Color} $color - color to shade
// @return {Color}
@function shade-25($color) {
  @return mix(#0b0c0c, $color, 25%);
}
@function shade-50($color) {
  @return mix(#0b0c0c, $color, 50%);
}
@function shade-75($color) {
  @return mix(#0b0c0c, $color, 75%);
}
@function shade-max($color) {
  @return mix(#0b0c0c, $color, 85%);
}

/*--- STYLES -----------------------------------------------------------------*/

div.person-panel {

  border: govuk-px-to-rem(5) solid govuk-colour('white');
  padding: govuk-spacing(3);
  background-color: govuk-colour('light-grey');

  a {
    background-color: govuk-colour('pink');
  }
  
  &:hover {
    background-color: tint-75(govuk-colour('light-pink'));
  }

}
