
{% extends "layout.html" %}

{% set pageTitle = "Making dynamic prototypes with JSON data" %}

{% block pageTitle %}{{ pageTitle }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">GOV.UK Prototype Kit</span>
      {{ pageTitle }}
    </h1>
  </div>

  <div class="govuk-grid-column-full">
    <p class="govuk-body"><a href="/people">People page</a></p>
  </div>

</div>

{% endblock %}
