
{% extends "layout.html" %}

{% set pageTitle = "Making dynamic prototypes with JSON data" %}

{% block pageTitle %}{{ pageTitle }}{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">GOV.UK Prototype Kit</span>
        {{ pageTitle }}
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    {% for person in data.people %}
    <div class="govuk-grid-column-one-third-from-desktop person-panel">
      <span class="govuk-caption-m">{{ person.role }}</span>
      <h2 class="govuk-heading-m">{{ person.name.first }} {{ person.name.last }}</h2>
      <p class="govuk-body">{{ person.bio }}</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>GOV.UK Design System</li>
      </ul>
      <a href="#" role="button" draggable="false" class="govuk-button" data-module="govuk-button">Start now</a>
    </div>
    {% endfor %}
</div>

{{ data.people[0] | log }}

{% endblock %}
