
{% extends "layout.html" %}

{% set pageTitle = "People" %}

{% block pageTitle %}{{ pageTitle }}{% endblock %}

{% block content %}

<form action="/people" method="POST" role="form">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Imaginary Digital Team</span>
        {{ pageTitle }} (v.{{ data.version }})
      </h1>
      {% if data.version == 1 %}
      <p class="govuk-body-l">For the sake of demonstrating the possibilities when using dynamic data, below are some contact cards for an imaginary digital team. It should be immediately noticable that, whilst the demo uses the Prototype Kit and the GOV.UK Design System, to avoid any likeness to any actual GOV.UK projects the visual style is deliberately 'not very GOV.UK'.</p>
      {% elif data.version == 2 %}
      <p class="govuk-body-l">
        Using dynamic data allows for much easier and more flexible styling. All of the styling <em>could</em> be demonstrated with a static page but it's much trickier to keep track of every combination and to stay consistent as a design is iterated. Data attributes are used to add css classes, so just ensure every css class has a design.
        <span class="govuk-hint">Note: Remember that the visual style is <em>deliberately</em> 'not very GOV.UK'. In fact, it's not even very nice!</span>
      </p>
      {% elif data.version == 3 %}
      <p class="govuk-body-l">
        TBC
        <span class="govuk-hint">Note: Remember that the visual style is <em>deliberately</em> 'not very GOV.UK'. In fact, it's not even very nice!</span>
      </p>
      {% elif data.version == 4 %}
      <p class="govuk-body-l">
        TBC
        <span class="govuk-hint">Note: Remember that the visual style is <em>deliberately</em> 'not very GOV.UK'. In fact, it's not even very nice!</span>
      </p>
      {% endif %}
    </div>
  </div>

  {% if data.version > 2 %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="filter-bar">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h3 class="govuk-fieldset__heading govuk-heading-m">Sort people</h3>
            </legend>

            <div class="govuk-radios govuk-radios--inline govuk-radios--small">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="sort-age" name="sort" type="radio" value="age" {% if data.sort == 'age' %}checked{% endif %}>
                <label class="govuk-label govuk-radios__label" for="sort-age">Age</label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="sort-projects" name="sort" type="radio" value="projects" {% if data.sort == 'projects' %}checked{% endif %}>
                <label class="govuk-label govuk-radios__label" for="sort-projects">Projects</label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="sort-first-name" name="sort" type="radio" value="first-name" {% if data.sort == 'first-name' %}checked{% endif %}>
                <label class="govuk-label govuk-radios__label" for="sort-first-name">First name</label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="sort-last-name" name="sort" type="radio" value="last-name" {% if data.sort == 'last-name' %}checked{% endif %}>
                <label class="govuk-label govuk-radios__label" for="sort-last-name">Last name</label>
              </div>
              {% if data.version > 3 %}
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="sort-collaborators" name="sort" type="radio" value="collaborators" {% if data.sort == 'collaborators' %}checked{% endif %}>
                <label class="govuk-label govuk-radios__label" for="sort-collaborators">Collaborators</label>
              </div>
              {% endif %}
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="sort-random" name="sort" type="radio" value="random" {% if data.sort == 'random' %}checked{% endif %}>
                <label class="govuk-label govuk-radios__label" for="sort-random">Random</label>
              </div>
            </div>

            <button type="submit" class="govuk-button" title="Filter people">Sort people</button>

          </fieldset>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  <div class="govuk-grid-row lr-gutters">

    {% for person in data.people %}

    <div class="govuk-grid-column-one-third-from-desktop person-panel {% if data.version > 1 %}{{ person.gender }}{% endif %} {% if data.version > 1 and not person.isEmployed %}unavailable{% endif %}">
      <span class="govuk-caption-m role">{{ person.role }}{% if data.version > 1 and not person.isEmployed %}<strong class="govuk-tag unavailable">archived</strong>{% endif %}</span>
      <h3 class="govuk-heading-m">
        {% if data.version > 2 and data.sort == 'first-name' %}<span class="sorted-by">{{ person.name.first }}</span>{% else %}{{ person.name.first }}{% endif %} 
        {% if data.version > 2 and data.sort == 'last-name' %}<span class="sorted-by">{{ person.name.last }}</span>{% else %}{{ person.name.last }}{% endif %}
      </h3>
      <ul class="govuk-list person-meta">
        <li class="avatar"><img src="{{ person.avatar }}" width="100%" /></li>
        <li class="age {% if data.version > 2 and data.sort == 'age' %}sorted-by{% endif %}"><strong>Age:</strong> {{ person.age }}</li>
        <li class="projects {% if data.version > 2 and data.sort == 'projects' %}sorted-by{% endif %}"><strong>Projects:</strong> {{ person.num_projects }}</li>
        {% if data.version > 3 %}
        <li class="collaborators {% if data.version > 2 and data.sort == 'collaborators' %}sorted-by{% endif %}"><strong>Collaborators:</strong> {{ person.collaborators | length }}</li>
        {% endif %}
      </ul>
      <button type="submit" class="govuk-button" formaction="/person" name="person_uid" value="{{ person._uid }}" title="View {{ person.name.first }}'s details">View {{ person.name.first }}'s details</button>
    </div>

    {% endfor %}

  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <ul class="govuk-list version-switcher">
        <li><strong class="govuk-tag version">V.1</strong><button type="submit" class="button-as-link" title="Version 1: Basic implementation" name="version" value="1">Content stored as data</button></li>
        <li><strong class="govuk-tag version">V.2</strong><button type="submit" class="button-as-link" title="Version 2: Using data for presentation" name="version" value="2">Styling with data</button></li>
        <li><strong class="govuk-tag version">V.3</strong><button type="submit" class="button-as-link" title="Version 3: Sorting data" name="version" value="3">Sorting data</button></li>
        <li><strong class="govuk-tag version">V.4</strong><button type="submit" class="button-as-link" title="Version 4: Combining data" name="version" value="4">Combining data</button></li>
      </ul>
    </div>
  </div>

</form>

{% endblock %}
